<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      
  <ul class="main-menu">
    <li><h2 class="menu-heading md-subhead">Collections</h2></li>
    <li ng-class="{active:collection===col.name}" ng-repeat="col in collections"><a href="" ng-click="go('database.collection', {collection: col.name})">{{col.name}}</a></li>
  </ul>

</md-sidenav>

<div layout="column" flex>
    <md-content layout="column" flex class="md-padding">
    	<div ui-view></div>
    </md-content>
</div>