body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.md-toolbar-tools {
  h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
  }
  .right-arrow {
    color: #939DD5;
    font-size: 26px;
    font-weight: 100;
    margin: 0px 8px;
  }
}

h2 {
  margin-top: 0px;
}

.main-menu {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0 0;
}
.main-menu > li > .menu-heading {
  padding: 0px 20px;
  margin-top: 0px;
}
.main-menu > li.active > a {
  color: #262626;
  background-color: #F4F4F4;
}
.main-menu > li > a {
  padding: 14px 20px;
  display: block;
  color: #4C4C4C;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  transition: background 400ms;
}
.main-menu > li > a:hover {
  background: #fafafa;
}

.md-select-label {
  border: none;
  padding-top: 13px;
  color: rgba(255,255,255,0.87) !important;
  .md-select-icon {
    width: 20px;
  }
  .md-select-icon:after {
    top: 1px;
    transform: scaleY(.4) scaleX(.7);
  }
}

.md-placeholder > span {
  color: black;
  color: #939DD5;
}

md-option {
  transition: background 400ms;
  &:hover {
    background: #fafafa;
  }
}

md-content {
  .md-primary {
    float: right;
    margin: 0px;
  }
}

.pre-json {
  background: #fafafa;
  border: 1px solid #f0f0f0;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 15px;
  button {
    float: right;
    transition: opacity 250ms;
    opacity: 0;
    margin: 0px 0px 0px 10px !important;
  }
  &:hover button {
    opacity: 1;
  }
  h3 {
    margin: 0px 0px 8px;
  }
  .json-container {
    margin: 0px;
  }
}
.count {
  font-weight: 100;
}

.new-entry-dialog {
  form {
    margin: 0px;
    textarea {
      width: 550px;
      height: 198px;
      font: 14px monospace;
    }
  }
}